body,html {
	background-color		:#efefef;
	font-family				:'Hiragino Kaku Gothic Pro', Optima, Lucida, 'MgOpen Cosmetica', 'Lucida Sans Unicode', helvetica, arial, sans-serif;
	color					:#444444;
	margin					:0;
	padding					:0;
	font-size				:9pt;
}
.layout {
	width					:100%;
	border-collapse			:collapse;
	padding					:0;
	margin					:0;
}
.space {
	width					:11%;
	min-width				:10px;
}
.title {
	font-size				:12pt;
	padding-left			:0.7em;
}
.path {
	font-size				:9pt;
}
.path a {
	font-family				:helvetica, tahoma, arial, sans-serif;
	text-decoration			:none;
	color					:#766;
	padding					:0.2em 0.3em 0.2em 0.3em;
}
.path a:hover {
	background-color		:#333;
	color					:#eee;
}
.path span {
	padding					:0;
}
.logo {
	background-image		:url('logo.png');
	background-repeat		:no-repeat;
	background-position		:center center;
	width					:85px;
	height					:96px;
	min-width				:85px;
	min-height				:96px;
}
.unbreakable {
	white-space				:nowrap;
}
.links {
	padding					:0 1em 0 1em;
	text-align				:right;
	white-space				:nowrap;
	width					:10px;
}
.links a {
	text-decoration			:none;
	color					:#766;
	padding					:0.2em 0.4em 0.2em 0.4em;
}
.links a:hover {
	background-color		:#333;
	color					:#eee;
}
.links span {
	border					:1px solid #966;
	border-left-style		:none;
	border-top-style		:none;
	border-bottom-style		:none;
	margin-right			:0.3em;
}
.laycontent {
	padding-left			:1em;
}
.laycontent h1 {
	font-size				:15pt;
	color					:#000;
}
.vspace {
	height					:22pt;
}
.content h1 {
	font-size				:12pt;
	margin					:40pt 0 0 0;
}
.content h2 {
	font-size				:10pt;
	color					:#245079;
	padding-left			:2em;
	margin					:25pt 0 0 0;
}
.content p {
	font-size				:8pt;
	text-align				:justify;
	text-justify			:distribute;
	font-family				:verdana, tahoma, arial, sans-serif;
	text-indent				:1.4em;
}
.toc {
	float					:right;
	border					:1px solid #cce;
	background-color		:#eef;
	font-size				:8pt;
	padding					:0.5em 1em 0 1em;
	margin					:0em 0em 0.6em 1em;
	font-family				:helvetica, tahoma, arial, sans-serif;
}
.toc ol {
	padding					:0em 1em 0.5em 2em;
}
.toc a {
	text-decoration			:none;
	color					:#222;
}
.modified {
	padding-top				:130pt;
	font-size				:9pt;
	text-align				:right;
	font-style				:italic;
	font-family				:Optima, Lucida, 'MgOpen Cosmetica', 'Lucida Sans Unicode', helvetica, arial, sans-serif;
}
.footer {
	margin-top				:30pt;
	width					:100%;
	border-collapse			:collapse;
	font-family				:Optima, Lucida, 'MgOpen Cosmetica', 'Lucida Sans Unicode', helvetica, arial, sans-serif;
	font-size				:9pt;
	text-align				:right;
}
.footerlogo  {
	background-image		:url('bottom.png');
	background-repeat		:no-repeat;
	background-position		:right center;
	text-align				:right;
	width					:40px;
	min-width				:40px;
	min-height				:36px;
	height					:36px;
	margin-top				:30pt;
}
