/.*.swp
/.*.swo
/Makefile
/cmake_install.cmake
/CMakeFiles
/CMakeCache.txt
/CMakeScripts
/ZERO_CHECK.dir
/yuni.dir
/*.user
/ZERO_CHECK.vcproj
/ALL_BUILD.vcproj
/YUNI.ncb
/YUNI.sln
/yuni.vcproj
/yuni-static.vcproj
/[Bb]in
/obj
/[Dd]ebug
/[Rr]elease
/*.aps
/*.eto
