/CMakeFiles
/Makefile
/.*.sw*
/test_libyuni_core_string_assign_char
/test_libyuni_core_string_assign_char.exe
/test_libyuni_core_string_assign_wchar
/test_libyuni_core_string_assign_wchar.exe
/*.xml
/cmake_install.cmake
