/*.suo
/*.user
/.*.swo
/.*.swp
/CMakeCache.txt
/CMakeFiles
/CMakeScripts
/Debug
/Makefile
/Release
/Yuni-Framework.build
/build
/cmake_install.cmake
/devices_00_monitors
/devices_00_monitors.dir
/devices_00_monitors.ncb
/devices_00_monitors.sln
/devices_00_monitors.vcproj
