/*.suo
/.*.swo
/.*.swp
/ALL_BUILD.vcproj
/ALL_BUILD.vcproj.SHANISP3.Milipili.user
/CMakeCache.txt
/CMakeFiles
/CMakeScripts
/Debug
/Makefile
/YUNI-SAMPLES.sln
/YUNI-SAMPLES.xcodeproj
/YUNI.ncb
/YUNI.sln
/ZERO_CHECK.dir
/ZERO_CHECK.vcproj
/ZERO_CHECK.vcproj.SHANISP3.Milipili.user
/build
/cmake_install.cmake
