/*.build
/*.filters
/*.sdf
/*.suo
/*.user
/*.vcxproj
/ALL_BUILD.vcproj
/ALL_BUILD.vcproj.SHANISP3.Milipili.user
/CMakeCache.txt
/CMakeFiles
/CMakeScripts
/Debug
/Makefile
/ProfileBuild.cmake
/Win32
/Yuni-Framework.ncb
/Yuni-Framework.sln
/Yuni-Framework.xcodeproj
/ZERO_CHECK.dir
/ZERO_CHECK.vcproj
/ZERO_CHECK.vcproj.SHANISP3.Milipili.user
/build
/cmake_install.cmake
/ipch
/x64
/*.opensdf
/yuni.sln
/compiler-flags-debug-cc
/compiler-flags-release-cc
/compiler-flags-debug-cxx
/compiler-flags-release-cxx
