/*.aps
/*.build
/*.dir
/*.eto
/*.filters
/*.ncb
/*.sln
/*.suo
/*.user
/*.vcproj
/*.vcxproj
/*.xcodeproj
/.*.sw*
/CMakeCache.txt
/CMakeFiles
/CMakeScripts
/Makefile
/[Bb]in
/[Dd]ebug
/[Rr]elease
/cmake_install.cmake
/config.h
/obj
/platform.h
/svn-commit*
/yuni.config.*
/yuni.version
